<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todoist Tasks List</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>
<body>
    <div>
        <h1>Todoist Projects</h1>
        <ul id="projects-list">
        </ul>
    </div>
    <div>
        <h2>Selected Project Tasks</h2>
        <ul id="tasks-list">
        </ul>
    </div>
    <div>
        <h2>Schedule Tasks</h2>
        <div>
          <h2>Select Labels</h2>
          <select id="labels-select" multiple>
          </select>
          <button id="show-button">Show</button>
        </div>

        <label for="start-date">Choose a starting date:</label>
        <input type="date" id="start-date" name="start-date">
        <button id="schedule-button" disabled>Schedule Tasks</button>
    </div>
    <div>
        <div id="calendar"></div>
    </div>
  
    <script>
        $(document).ready(function () {
            let selected_project_id = null;
            $.ajax({
                type: "GET",
                url: "/get_projects",
                success: function (data) {
                    for (var i = 0; i < data.projects.length; i++) {
                        var project = data.projects[i];
                        var checkbox = $("<input>")
                            .attr("type", "checkbox")
                            .attr("data-id", project.id)
                            .addClass('project-checkbox');
                        var label = $("<label>").html(project.name);
                        $("#projects-list").append($('<li/>').append(checkbox, label));
                    }
                }
            });


            // Fetch labels and populate the drop-down list
            $.ajax({
                type: "GET",
                url: "/get_labels",
                success: function (data) {
                    for (var i = 0; i < data.labels.length; i++) {
                        var label = data.labels[i];
                        var option = $("<option>").val(label.id).text(label.name);
                        var option = $("<option>").val(label.name).text(label.name); 
                        $("#labels-select").append(option);
                    }
                }
            });
          
$("body").on("click", "#show-button", function (e) {
    e.preventDefault();
    var selected_project_ids = [];
    $(".project-checkbox:checked").each(function() {
        selected_project_ids.push($(this).attr("data-id"));
    });
    var selectedLabels = $("#labels-select").val();

    if (selected_project_ids.length > 0 && selectedLabels.length > 0) {
        $("#tasks-list").empty();
        
        selected_project_ids.forEach(function(project_id) {
            $.ajax({
                type: "GET",
                url: `/get_tasks_for_project/${project_id}`,
                success: function (data) {
                    for (var i = 0; i < data.tasks.length; i++) {
                        var task = data.tasks[i];

                        // Check if task labels match selected labels.
                        if (task.all_labels.some(label => selectedLabels.includes(label))) {
                            var task_html = task.content;
                            if (task.duration) {
                                task_html += " (" + task.duration + ")";
                            }
                            if (task.all_labels && task.all_labels.length) {
                                task_html += " [" + task.all_labels.join(", ") + "]";
                            }
                            var task_li = $("<li/>").html(task_html);
                            $("#tasks-list").append(task_li);
                        }
                    }
                    // Enable the "Schedule Tasks" button if there are tasks displayed.
                    if ($("#tasks-list li").length > 0) {
                        $("#schedule-button").removeAttr("disabled");
                    } else {
                        $("#schedule-button").attr("disabled", "disabled");
                    }
                }
            });
        });
    }
});
   

$("body").on("click", "#schedule-button", function (e) {
    e.preventDefault();
    var selected_project_ids = [];
    $(".project-checkbox:checked").each(function () {
        selected_project_ids.push($(this).attr("data-id"));
    });
    var selectedLabelIds = $("#labels-select").val();
    if (selected_project_ids.length > 0 && $("#start-date").val()) {
        $.ajax({
            type: "POST",
            url: "/schedule_tasks",
            data: {
                "project_ids[]": selected_project_ids,
                start_date: $("#start-date").val(),
                "selected_labels[]": selectedLabelIds,
              
            },
            traditional: true,  // Required for sending an array in the request
            success: function (data) {
                var events = data.scheduled_tasks.map(function (task) {
                    return {
                        title: task.content,
                        start: task.start_date,
                        end: task.end_date,
                        allDay: false
                    };
                });
                $("#calendar").fullCalendar("removeEvents");
                $("#calendar").fullCalendar("addEventSource", events);
            }
        });
    }
});

            
            $("#calendar").fullCalendar({defaultView: "agendaWeek", allDaySlot: false, timezone: "local"});
        });
    </script>
</body>
</html>
